/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
.app {
  min-height: 98.5vh;
  border: 8px solid blue;
  margin: 5px;
  padding: 5px;
  background-color: aqua;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}

a {  
  text-decoration: inherit;
  color: inherit; 
}

.app {
  min-height: 98.5vh;
  /* border: 8px solid #39445a93; */
  /* background-color: white; */
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.mainImg {
  padding: 10px 0 5px 0;
}
